<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1>
                <%= product[0].title %>
            </h1>
            <hr>
            <div class="image">
                <img src="<%= product[0].imageUrl %>" alt="<%= product[0].title %>">
            </div>
            <h2><%= product[0].price %>
            <p>
                <%= product[0].description %>
            </p>
              <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        </main>
        <%- include('../includes/end.ejs') %>